body {
    color: white;
    font-family: 'Lato', sans-serif;
}
 .jumbotron, section {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
 }
.divider {
    position: relative;
    width: 250px;
    padding: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    width: calc((100% - 60px) / 2);
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
}


.jumbotron .divider::before,
.jumbotron .divider::after,
#about .divider::before,
#about .divider::after {
    background-color: white;
}

#portfolio .divider::before,
#portfolio .divider::after {
    background-color: black;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.divider i {
    font-size: 32px;
}

.h1 {
    font-weight: 700;
}

section .container .row div > h2 {
    font-size: 50px;
}
/* header style */

#header {
    margin-bottom: 0;
    padding: 20px 15px;
    background-color: rgb(44, 63, 81);
    border: 1px solid rgb(44, 63, 81);
    border-radius: 0;
}

.logo {
    font-weight: 700;
    font-size: 26px;
}

.lista-destra li a  {
    font-weight: 700;
}

.lista-destra li> a.bianco, #brand-custom.bianco  {
    color: white;
}

.lista-destra li> a.bianco:hover {
    color: rgb(47, 188, 156);
}

#bottone-bianco {
    background-color: rgb(47, 188, 156);
    border:0;
    position: relative;
}

#bottone-bianco:hover {
    background-color: #148f77;
}

/* jumbo style */

.jumbo-verde {
    background-color: rgb(47, 188, 156);
}

.jumbotron img {
    height: 250px;
    margin-top: 100px;
}

/* portfolio section style */

#portfolio {
    color: black;
}

.ptf-img {
    margin-bottom: 20px;
    position: relative;
}

.img-container {
    margin-top:  15px;
}

#portfolio .layover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.layover .layover-child {
    background-color: rgb(47, 188, 156);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: none;
}

.layover .layover-child i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 72px;
}

.layover:hover .layover-child {
    display: block;
    opacity: 0.9;
}

.layover:hover .layover-child i {
    opacity: 1;
}

/* about section style */

#about {
    background-color: rgb(47, 188, 156);
}

#about p {
    font-size: 20px;
}

#about .btn-default {
    color: white;
    background-color: rgb(47, 188, 156);
    border-color: white;
}

#about .btn {
    border: 2px solid;
    font-size: 20px;
    padding: 15px 25px;
    margin-top: 20px;
}
@media screen and (max-width:767px) {
    #bottone-bianco {
        max-width: 80px;
    }
}
